/*     

Základní Synataxe CSS

selector {
    vlastnost-1: hodnota
    vlastnost-2: hodnota
    vlastnost-3: hodnota
    vlastnost-4: hodnota


}
*/
body {
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    /*bezpatkové písmo*/
}


p   {
    font-family: 'Times New Roman', Times, serif;
    /*patkové písmo*/

    font-size: 18px;
    /*velikost textu*/
}